In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('open_pubs.csv', names=['fsa_id', 'name', 'address', 'postcode', 'easting', 'northing', 'latitude', 'longitude', 'local_authority'], header=None, index_col=0)
data

,name,address,postcode,easting,northing,latitude,longitude,local_authority
fsa_id,,,,,,,,
22,Anchor Inn,"Upper Street, Stratford St Mary, COLCHESTER",CO7 6LW,604749,234404,51.970379,0.979340,Babergh
36,Ark Bar Restaurant,"Ark Bar And Restaurant, Cattawade Street, Bran...",CO11 1RH,610194,233329,51.958698,1.057832,Babergh
74,Black Boy,"The Lady Elizabeth, 7 Market Hill, SUDBURY, Su...",CO10 2EA,587334,241316,52.038595,0.729915,Babergh
75,Black Horse,"Lower Street, Stratford St Mary, COLCHESTER",CO7 6JS,622675,-5527598,\N,\N,Babergh
76,Black Lion,"Lion Road, Glemsford, SUDBURY",CO10 7RF,622675,-5527598,\N,\N,Babergh
...,...,...,...,...,...,...,...,...
597119,Wrexham & District War Memorial Club Ltd,"Wrexham War Memorial Club Farndon Street, Wrex...",LL13 8DE,333909,350438,53.047100,-2.987319,Wrexham
597127,Wrexham Lager Social Club,"1 - 3 Union Road, Wrexham, Wrexham",LL13 7SR,333028,350563,53.048123,-3.000485,Wrexham
597130,Wrexham Rail Sports & Social Club,"Sports And Social Club, 44 Brook Street, Wrexh...",LL13 7LU,333259,350213,53.044998,-2.996966,Wrexham
597131,Wrexham Rugby Club,"Wrexham Rugby Club Bryn Estyn Road, Wrexham, W...",LL13 9TY,335808,351078,53.053094,-2.959124,Wrexham
597137,Y Tai,"Y Tai Railway Road, Brymbo, Wrexham, Wrexham",LL11 5EA,329721,353785,53.076638,-3.050512,Wrexham

In [3]:
df = data.copy()

In [4]:
df.isna().sum()

name               0
address            0
postcode           0
easting            0
northing           0
latitude           0
longitude          0
local_authority    0
dtype: int64

In [5]:
# Replace "\n" with null values in the latitude and longitude columns
df.replace('\\N', np.nan, inplace=True)

# Filter rows where any column contains null value
df.dropna(inplace=True)

# Change datatype of latitude and Longitude to float
df.latitude = df.latitude.astype(float)
df.longitude = df.longitude.astype(float)

In [6]:
df

,name,address,postcode,easting,northing,latitude,longitude,local_authority
fsa_id,,,,,,,,
22,Anchor Inn,"Upper Street, Stratford St Mary, COLCHESTER",CO7 6LW,604749,234404,51.970379,0.979340,Babergh
36,Ark Bar Restaurant,"Ark Bar And Restaurant, Cattawade Street, Bran...",CO11 1RH,610194,233329,51.958698,1.057832,Babergh
74,Black Boy,"The Lady Elizabeth, 7 Market Hill, SUDBURY, Su...",CO10 2EA,587334,241316,52.038595,0.729915,Babergh
97,Brewers Arms,"The Brewers Arms, Bower House Tye, Polstead, C...",CO6 5BZ,598743,240655,52.028694,0.895650,Babergh
102,Bristol Arms,"Bristol Hill, Shotley, IPSWICH",IP9 1PU,624624,233550,51.955042,1.267642,Babergh
...,...,...,...,...,...,...,...,...
597119,Wrexham & District War Memorial Club Ltd,"Wrexham War Memorial Club Farndon Street, Wrex...",LL13 8DE,333909,350438,53.047100,-2.987319,Wrexham
597127,Wrexham Lager Social Club,"1 - 3 Union Road, Wrexham, Wrexham",LL13 7SR,333028,350563,53.048123,-3.000485,Wrexham
597130,Wrexham Rail Sports & Social Club,"Sports And Social Club, 44 Brook Street, Wrexh...",LL13 7LU,333259,350213,53.044998,-2.996966,Wrexham
597131,Wrexham Rugby Club,"Wrexham Rugby Club Bryn Estyn Road, Wrexham, W...",LL13 9TY,335808,351078,53.053094,-2.959124,Wrexham
597137,Y Tai,"Y Tai Railway Road, Brymbo, Wrexham, Wrexham",LL11 5EA,329721,353785,53.076638,-3.050512,Wrexham

In [7]:
print(df.shape), print(data.shape)

(50564, 8)
(51331, 8)

(None, None)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50564 entries, 22 to 597137
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             50564 non-null  object
 1   address          50564 non-null  object
 2   postcode         50564 non-null  object
 3   easting          50564 non-null  int64
 4   northing         50564 non-null  int64
 5   latitude         50564 non-null  float64
 6   longitude        50564 non-null  float64
 7   local_authority  50564 non-null  object
dtypes: float64(2), int64(2), object(4)
memory usage: 3.5+ MB

In [9]:
df.to_csv('pub.csv', index=False)